<% layout('layouts/boilerplate') -%>

<section class="container">
    <h1 class="display-6">Payment Canceled</h1>
    <p><%= message %></p>
    <a href="/user/cart" class="btn btn-warning">Return to Cart</a>
</section>
