<% layout('layouts/boilerplate') -%>

<section class="container">
    <h1 class="display-6">Payment Successful!</h1>
    <p><%= message %></p>
    <a href="/products" class="btn btn-primary">Return to Home</a>
</section>
